<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.1">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:mulesoft-web/ProgrammableWeb</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/${BRANCH_NAME}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
source /var/lib/jenkins/JobScripts/git_functions.sh
source /var/lib/jenkins/JobScripts/jenkins_functions.sh
source /var/lib/jenkins/JobScripts/util_functions.sh
source /var/lib/jenkins/JobScripts/docker_functions.sh
source /var/lib/jenkins/JobScripts/create_container_html.sh
source /var/lib/jenkins/JobScripts/jenkins.properties
source /var/lib/jenkins/JobScripts/git_functions_new.sh

SERVER_NAME=${BRANCH_NAME}_Server

echo &quot;creating job config from template..&quot;
createJobConfigFromTemplate ~/JobScripts/WrapperTemplate.xml ${BRANCH_NAME} /tmp/config1.xml 
createJobConfigFromTemplate ~/JobScripts/UnitTestTemplate.xml ${BRANCH_NAME} /tmp/config2.xml 
createJobConfigFromTemplate ~/JobScripts/FunctionalTestTemplate.xml ${BRANCH_NAME} /tmp/config3.xml 
createJobConfigFromTemplate ~/JobScripts/StaticCodeAnalysisTemplate.xml ${BRANCH_NAME} /tmp/config4.xml

echo &quot;${SERVER_NAME} ${BRANCH_NAME} instance_id server_ip 4940 5901 8292&quot; &gt;&gt; ${JENKINS_HOME}/portlookup/server_mapping

echo &quot;create docker container&quot;
create_container &quot;${BRANCH_NAME}&quot; 4940 22 5901 5901 8292 80 vnc_php_test

sleep 1m

echo &quot;Copying the database to the container..&quot;
setup_mysql &quot;localhost&quot; &quot;4940&quot; &quot;${JENKINS_HOME}&quot;

echo &quot;copying the files to the container..&quot;
copy_files &quot;localhost&quot; &quot;4940&quot; &quot;${JENKINS_HOME}&quot;

echo &quot;create image from container..&quot;
create_image_from_container ${BRANCH_NAME}

sleep 2m

echo &quot;creating image dump..&quot;
create_image_dump ${BRANCH_NAME} ${JENKINS_HOME}

echo &quot;image dump copy to s3&quot;
copyImageToS3 ${BRANCH_NAME} ${JENKINS_HOME}

echo &quot;delete container&quot;
delete_container ${BRANCH_NAME}

echo &quot;delete image&quot;
delete_image ${BRANCH_NAME}

echo &quot;delete image dump&quot;
delete_image_dump ${BRANCH_NAME} ${JENKINS_HOME}

createJob &quot;${BRANCH_NAME}MultiJob&quot; /tmp/config1.xml
createJob &quot;${BRANCH_NAME}UnitTest&quot; /tmp/config2.xml
createJob &quot;${BRANCH_NAME}FunctionalTest&quot; /tmp/config3.xml
createJob &quot;${BRANCH_NAME}StaticCodeAnalysis&quot; /tmp/config4.xml

echo &quot;Created a docker container for feature branch ${BRANCH_NAME} with ports:&quot;
echo &quot;SSH =&gt; 4940&quot;
echo &quot;VNC =&gt; 5901&quot;
echo &quot;NGINX =&gt; 8292&quot;

BRANCH_AUTHOR_EMAIL=$(get_branch_author_email ${BRANCH_NAME})
echo &quot;I&apos;ve to send mail to $BRANCH_AUTHOR_EMAIL about the branch getting tracked by CI system&quot;
echo &quot;EMAIL=$BRANCH_AUTHOR_EMAIL&quot; &gt; email.txt</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>email.txt</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.40.5">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>$DEFAULT_RECIPIENTS</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList>$DEFAULT_RECIPIENTS,$EMAIL</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>Now our CI system is managing your branch, check our CI dashboard for details about your branches
http://128.199.59.108
$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>